{% extends 'base.html' %}
{% load static %}
{% block content%}

<div class="main-wrapper">
    <div class="slider-area section-padding-1">
        <div class="container-fluid">
            <div class="main-slider-active-1   slider-nav-style-1">
                <div class="single-main-slider slider-animated-1 bg-img slider-height-1 align-items-center custom-d-flex"
                     style="background-image:url({% static 'assets/images/banner/home_img.png' %});">
                    <div class="row no-gutters width-100-percent">
                        <div class="col-12">
                            <div class="main-slider-content-1 slider-pl-1">
                                <span class="animated">NEW ARRIVAL</span>
                                <h1 class="animated">IPHONE <br>Accessories </h1>
                                <div class="slider-btn-1 btn-hover">
                                    <a class="animated slider-btn-1-bg-white slider-btn-1-ptb bg-black-hover"
                                       href="{% url 'shop' %}">Shop now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area pt-115 pb-115">
        <div class="container">
            <div class="section-title-1-area section-title-mrg-left mb-65">
                <div class="section-title-1-wrap">
                    <div class="section-title-1-left section-title-1-content">
                        <span>NEW ARRIVAL</span>
                        <h2>Trending Products</h2>
                    </div>
                    <div class="section-title-1-right">
                        <p>Good advertising educates people, that's all. You can't fool people in this business. The
                            products speak for themselves. Steve Jobs</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-padding-1">
            <div class="container-fluid">
                <div class="product-tab-list nav mb-60">
                </div>
                <div class="tab-content jump padding-55-row-col">
                    <div id="product-1" class="tab-pane active">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="product-wrap mb-55">
                                    <div class="product-img mb-25">
                                        <a href="">
                                            <img src="{{product.image.url}}" alt="">
                                        </a>
                                        {% if product.new_product %}
                                        <span class="badge-green badge-right-20 badge-top-20 badge-ptb-1">NEW</span>
                                        {% endif %}
                                        {% if product.sale %}
                                        <span class="badge-theme-color badge-right-20 badge-top-20 badge-ptb-1">-{{product.discount}}%</span>
                                        {% endif %}
                                        <div class="product-action product-action-position-1">
                                            <a title="Add to Cart" href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                                </svg>
                                            </a>
                                            <a title="Add to Wishlist" href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="product-details.html">{{product.name}}</a></h4>
                                        <div class="product-price">
                                            <span class="new-price">{{product.original_price}}₽</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>


{% endblock %}