{% extends 'base.html' %}
{% load tags_load %}


{% block content %}

<div class="main-wrapper">
    <div class="shop-area section-padding-2 pb-110">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="product-details-tab">
                        <div class="product-dec-right pro-dec-big-img-slider">
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="{{product.image.url}}">
                                        <img src="{{product.image.url}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="product-details-wrap pro-dec-res-mrg-top">
                        <div class="product-details-content pro-dec-content-left">

                            <span>Headphones</span>
                            <h2 class="uppercase">{{product.name}}</h2>
                            <div class="pro-dec-info-wrap">
                                <div class="pro-dec-ratting-wrap">
                                    <div class="pro-dec-ratting">
                                        {% for i in product.avg_rating|range %}
                                        <svg style="color:#e78631" xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16" fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>
                                        {% endfor %}
                                        {% for i in product.avg_rating|range_none %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-star" viewBox="0 0 16 16">
                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                        </svg>
                                        {% endfor %}
                                        <span>based on reviews</span>
                                    </div>

                                </div>
                                <div class="pro-dec-stock">
                                    <ul>
                                        <li>Brand: <span>{{product.manufacture.name}}</span></li>
                                        {% if prod.active %}
                                        <li class="green">In Stock</li>
                                        {% endif %}

                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                            </svg>
                                            <span>{{prod.count}} Sold</span></li>
                                    </ul>
                                </div>
                            </div>
                            <h3>{{prod.price_discount}}₽</h3>
                            <div class="product-details-peragraph">
                                <p>{{product.description}}</p>
                            </div>
                            <div class="configurable-wrap">
                                <div class="configurable-color">
                                    <span>Color</span>
                                    <ul>
                                        {% for item in color_product|distinct:'color' %}

                                        {% if color == item.color|lower %}
                                        <li><a href="{{product.get_absolute_url}}?color={{item}}"><span
                                                title="{{item}}"
                                                class="{{item|lower}} active-color"></span></a></li>
                                        {% else %}
                                        <li><a href="{{product.get_absolute_url}}?color={{item}}"><span
                                                title="{{item}}" class="{{item|lower}}"></span></a></li>
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="configurable-size">
                                    <span>Memory</span>
                                    <ul>
                                        {% for item in memory_product%}
                                        {% if memory == item.memory %}
                                        <li>
                                            <a href="{{product.get_absolute_url}}?color={{item|lower}}&memory={{item.memory}}"><span
                                                    title="{{item.get_memory_display}}"
                                                    class="swatch-anchor l active-color">{{item.get_memory_display}}</span></a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="{{product.get_absolute_url}}?color={{item|lower}}&memory={{item.memory}}"><span
                                                    title="{{item.get_memory_display}}"
                                                    class="swatch-anchor l">{{item.get_memory_display}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="product-details-action-wrap pro-dec-action-mrg">
                                {% if prod.active %}
                                <form action="{% url 'cart_add' product.id product.slug %}?color={{color}}&memory={{memory}}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="product-details-quality">
                                        <input class="cart-plus-minus-box input-quantity" type='number' name="quantity"
                                               value="1">
                                        <button class='button-quantity' title="Add to cart" type="submit">Add to cart
                                        </button>
                                    </div>
                                </form>

                                <div class="product-details-wishlist">
                                    <a title="Add to wishlist" href="{% url 'add_wishlist' prod.id %}?wis=wishlist"
                                       class="a-wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                        </svg>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="product-details-meta">
                                <span>SKU: N/A</span>
                                <span class="categories">Categories:
                                    <a href="{% url 'shop' %}?type-product={{product.category.name}}">{{product.category.name}}</a>
                                </span>

                                <span>Product ID: <a href="#">{{product.id}}</a></span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="description-review-area section-padding-2 pb-105">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="description-review-wrapper">
                        {% with comment_count=product.comments.count %}
                        <div class="description-review-topbar nav">
                            {% product_header %}
                        </div>
                        <div class="tab-content description-review-bottom">
                            {% product_header_content %}

                        </div>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="related-product-area section-padding-2 pb-115">
        <div class="container-fluid">
            <div class="section-title-12 mb-30">
                <h2>RELATED PROUDCTS</h2>
            </div>
            <div class="related-product-active owl-carousel owl-loaded owl-drag">


                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 4512px;">


                        {% for item in related_products %}
                        <div class="owl-item active" style="width: 302.25px; margin-right: 20px;">
                            <div class="product-wrap">
                                <div class="product-img mb-25">
                                    <a href="{{item.get_absolute_url}}">
                                        <img src="{{item.image.url}}" alt="" style="width:80%">
                                    </a>
                                    {% if item.new_product %}
                                    <span class="badge-green badge-right-20 badge-top-20 badge-ptb-1">NEW</span>
                                    {% endif %}
                                    {% if item.sale %}
                                    <span class="badge-theme-color badge-right-20 badge-top-20 badge-ptb-1">-{{item.discount}}%</span>
                                    {% endif %}
                                    <div class="product-action product-action-position-1">
                                        <a title="Add to Cart" href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                            </svg>
                                        </a>
                                        <a title="Add to Wishlist" href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4><a href="product-details.html">{{item.name}}</a></h4>
                                    <div class="product-price">
                                        <span class="new-price">{{item.original_price}}₽</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="owl-nav disabled">
                    <div class="owl-prev">prev</div>
                    <div class="owl-next">next</div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>


    {% include 'footer.html' %}

</div>
{% endblock %}