{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-wrapper">
    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <h1>Your payment was successful</h1>
                    <p>Your payment has been processed successfully.</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}


</div>
{% endblock %}