{% load static %}
<header class="header-area section-padding-1">
    <div class="header-large-device">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                    <div class="logo logo-res-lg">
                        <a href="index.html">
                            <img src="{% static 'assets/images/logo/logo.png' %}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8">
                    <div class="main-menu menu-lh-3 main-menu-padding-1 menu-text-black text-center">
                        <nav>
                            <ul>
                                {% if chapter %}
                                <li><a href="{% url 'home' %}">HOME</a>
                                    {% else %}
                                <li><a class="active" href="{% url 'home' %}">HOME</a></li>
                                {% endif %}
                                {% if chapter == 'shop' %}
                                <li><a href="{% url 'shop' %}" class="active">SHOP</a></li>
                                {% else %}
                                <li><a href="{% url 'shop' %}">SHOP</a></li>
                                {% endif %}
                                {% if chapter == 'blog' %}
                                <li><a href="{% url 'blog_home' %}" class="active">BLOG</a></li>
                                {% else %}
                                <li><a href="{% url 'blog_home' %}">BLOG</a></li>
                                {% endif %}
                                {% if chapter == 'contact' %}
                                <li><a href="{% url 'contact' %}" class="active">CONTACT</a></li>
                                {% else %}
                                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                                {% endif %}
                                {% if user.is_authenticated %}
                                <li><a href="">{{user|upper}}</a></li>|
                                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}">LOGIN</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-2">
                    <div class="header-right-wrap header-right-flex hr-mrg-handmade">

                        <div class="same-style same-style-mrg-dec">
                            <a href="{% url 'wishlist' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                     class="bi bi-box2-heart-fill" viewBox="0 0 16 16">
                                    <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM8.5 4h6l.5.667V5H1v-.333L1.5 4h6V1h1zM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                </svg>
                            </a>
                        </div>
                        <div class="same-style same-style-mrg-dec">
                            <a class="cart-active" href="{% url 'cart' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                     class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>