{% load static %}
<header class="header-area section-padding-1">
        <div class="header-large-device">
            <div class="container-fluid">
                <div class="header-ptb">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="search-wrap search-width-1">

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="logo logo-width text-center">
                                <a href="index.html">
                                    <img src="{% static 'assets/images/logo/logo.png' %}" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="header-right-wrap header-right-flex">
                                <div class="same-style">
                                    <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                                <div class="same-style">
                                    <a class="cart-active" href="cart.html"><i class="fa fa-cart-arrow-down"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>