{% load tags_load %}

{% if prod_header == 'description' %}
<div id="des-details1" class="tab-pane active">
    <div class="product-description-wrapper">
        <div class="row">

            <div class="product-dec-col-62">
                <div class="product-dec-content">
                    <p>{{product.description}}</p>
                    <div class="product-dec-list-wrap">
                        <div class="product-dec-list">
                            <ul>
                                <li>100% оригинальная продукция</li>
                                <li>Легкий возврат и обмен в течение 30 дней.</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if prod_header == 'additional-information' %}

<div id="des-details2" class="tab-pane active">
    <div class="product-dec-col-62">
        <div class="additional-info">
            <ul>
                <li><span>Name</span>{{product.name}}</li>
                <li><span>Brands</span>{{product.manufacture.name}}</li>
                <li><span>Diagonal</span> {{product.diagonal}} mm</li>
                <li><span>Frame</span> {{product.frame}}</li>
                <li><span>Height</span> {{product.height}} mm</li>
                <li><span>Width</span> {{product.width}} mm</li>
                <li><span>Thickness</span> {{product.thickness}} mm</li>
                <li><span>Weight</span> {{product.weight}} gram</li>
                <li><span>Display</span>{{product.display}}</li>
                <li><span>Connector</span>{{product.connector}}</li>
                <li><span>Battery type</span>{{product.battery_type}}</li>
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% if prod_header == 'reviews' %}
<div id="des-details3" class="tab-pane active">
    <div class="review-wrapper">
        <h2>{{comment_count}} review for {{product.name}}</h2>
        {% for item in prod_com %}
        <div class="single-review">
            <div class="review-img">
                <img src="assets/images/product-details/client-1.jpg" alt="">
            </div>
            <div class="review-content">
                <div class="review-top-wrap">
                    <div class="review-name">
                        <h5><span>{{item.user.first_name}}</span> - {{item.data_create|date:'d.m.Y'}}</h5>
                    </div>
                    <div class="review-rating" style="padding-left: 10px;">
                        {% for i in item.rating|range %}
                        <svg  style="color:#e78631" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        {% endfor %}
                        {% for i in item.rating|range_none %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                        </svg>
                        {% endfor %}
                    </div>
                </div>
                <p>{{item.comment}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class="ratting-form-wrapper">
        <span>Add a Review</span>
        <p>Your email address will not be published. Required fields are marked
            <span>*</span></p>
        <div class="ratting-form">

            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{form.rating}}<svg  style="color:#e78631" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                             class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <div class="rating-form-style mb-20">
                            <label>Your Review <span>*</span></label>
                            {{form.comment}}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-submit">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="ratting-form-wrapper">
        <span>To leave a comment please <a href="{% url 'login' %}" style="color: #e78631;">log in</a>
            <span>*</span></span>
    </div>
    {% endif %}

</div>
{% endif %}

{% if prod_header == 'about-brand' %}
<div id="des-details5" class="tab-pane active">
    <div class="pro-dec-brand-wrap">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-10">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6 col-sm-5">
                        <div class="pro-dec-brand-img text-center">
                            <img src="{{product.manufacture.image.url}}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-7">
                        <div class="pro-dec-brand-content">
                            <p>{{product.manufacture.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}