{% extends 'base.html' %}
{% block content %}
<div class="main-wrapper">

    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <h2> Blog</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area start -->
    <div class="blog-area pt-120 pb-120">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="main-blog-wrap">
                        <div class="blog-wrap-4">
                            <div class="blog-img-4">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-1.png" alt="blog">
                                </a>
                                <span>Life Style</span>
                            </div>
                            <div class="blog-content-4">
                                <h3><a href="#">Always Look On The Bright Side Of Life</a></h3>
                                <div class="blog-meta-4">
                                    <ul>
                                        <li>By <a href="#">by John Snow</a></li>
                                        <li>-</li>
                                        <li><a href="#">April 17,2019</a></li>
                                    </ul>
                                </div>
                                <p>Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum libero diam,
                                    convallis in arcu ut, semper vulputate dolor. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia Curae usce luctus fringilla
                                    fermentum…</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="bg-black-hover" href="product-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap-4">
                            <div class="blog-img-4">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-2.png" alt="blog">
                                </a>
                                <span>Life Style</span>
                                <div class="video-btn-4">
                                    <a class="video-popup"
                                       href="https://player.vimeo.com/video/181061053?autoplay=1&amp;byline=0&amp;collections=0"><i
                                            class="fa fa-play"></i></a>
                                </div>
                            </div>
                            <div class="blog-content-4">
                                <h3><a href="#">Philosophy As A Science</a></h3>
                                <div class="blog-meta-4">
                                    <ul>
                                        <li>By <a href="#">by John Snow</a></li>
                                        <li>-</li>
                                        <li><a href="#">April 17,2019</a></li>
                                    </ul>
                                </div>
                                <p>Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum libero diam,
                                    convallis in arcu ut, semper vulputate dolor. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia Curae usce luctus fringilla
                                    fermentum…</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="bg-black-hover" href="product-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap-4">
                            <div class="blog-img-4">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-3.png" alt="blog">
                                </a>
                                <span>BEAUTY</span>
                            </div>
                            <div class="blog-content-4">
                                <h3><a href="#">Does Hydroderm Work</a></h3>
                                <div class="blog-meta-4">
                                    <ul>
                                        <li>By <a href="#">by John Snow</a></li>
                                        <li>-</li>
                                        <li><a href="#">April 17,2019</a></li>
                                    </ul>
                                </div>
                                <p>Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum libero diam,
                                    convallis in arcu ut, semper vulputate dolor. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia Curae usce luctus fringilla
                                    fermentum…</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="bg-black-hover" href="product-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap-4">
                            <div class="blog-img-4">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-4.png" alt="blog">
                                </a>
                                <span>LOOK BOOK</span>
                            </div>
                            <div class="blog-content-4">
                                <h3><a href="#">Sleek Hair Sedu Style</a></h3>
                                <div class="blog-meta-4">
                                    <ul>
                                        <li>By <a href="#">by John Snow</a></li>
                                        <li>-</li>
                                        <li><a href="#">April 17,2019</a></li>
                                    </ul>
                                </div>
                                <p>Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum libero diam,
                                    convallis in arcu ut, semper vulputate dolor. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia Curae usce luctus fringilla
                                    fermentum…</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="bg-black-hover" href="product-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog-wrap-4">
                                    <div class="blog-img-4">
                                        <a href="blog-details.html">
                                            <img src="assets/images/blog/blog-5.png" alt="blog">
                                        </a>
                                        <span>LOOK BOOK</span>
                                    </div>
                                    <div class="blog-content-4">
                                        <h3><a href="#">Sensible Beauty Tips For Enhancing Your Appearance</a></h3>
                                        <div class="blog-meta-4">
                                            <ul>
                                                <li>By <a href="#">by John Snow</a></li>
                                                <li>-</li>
                                                <li><a href="#">April 17,2019</a></li>
                                            </ul>
                                        </div>
                                        <p>Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum
                                            libero diam, convallis in arcu ut, semper vulputate dolor. Vestibulum ante
                                            ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae usce
                                            luctus fringilla fermentum…</p>
                                        <div class="blog-btn-2 btn-hover">
                                            <a class="bg-black-hover" href="product-details.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-wrap-4">
                                    <div class="blog-img-4">
                                        <a href="blog-details.html">
                                            <img src="assets/images/blog/blog-6.png" alt="blog">
                                        </a>
                                        <span>LOOK BOOK</span>
                                    </div>
                                    <div class="blog-content-4">
                                        <h3><a href="#">Producing Perfume From Home</a></h3>
                                        <div class="blog-meta-4">
                                            <ul>
                                                <li>By <a href="#">by John Snow</a></li>
                                                <li>-</li>
                                                <li><a href="#">April 17,2019</a></li>
                                            </ul>
                                        </div>
                                        <p>Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum
                                            libero diam, convallis in arcu ut, semper vulputate dolor. Vestibulum ante
                                            ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae usce
                                            luctus fringilla fermentum…</p>
                                        <div class="blog-btn-2 btn-hover">
                                            <a class="bg-black-hover" href="product-details.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap-4">
                            <div class="quote-content text-center">
                                <h5><a href="blog-details.html">“Highly customizable. Excellent design. Customer
                                    services has exceeded my expectation. They are quick to answer and even when they
                                    don’t know the answer right away. They’ll work with you towards a solution”</a></h5>
                                <div class="blog-name">
                                    <span>Michael Franklin</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap-4">
                            <div class="blog-img-4">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-7.png" alt="blog">
                                </a>
                                <span>LOOK BOOK</span>
                            </div>
                            <div class="blog-content-4">
                                <h3><a href="#">Fast And Furious Facial</a></h3>
                                <div class="blog-meta-4">
                                    <ul>
                                        <li>By <a href="#">by John Snow</a></li>
                                        <li>-</li>
                                        <li><a href="#">April 17,2019</a></li>
                                    </ul>
                                </div>
                                <p>Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum libero diam,
                                    convallis in arcu ut, semper vulputate dolor. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia Curae usce luctus fringilla
                                    fermentum…</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="bg-black-hover" href="product-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="pro-pagination-style">
                            <ul>
                                <li><a class="active" href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                                <li><a href="#">04</a></li>
                                <li><a href="#">05</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar-search">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="SEARCH POST...">
                            <button class="button-search"><i class="lnr lnr-magnifier"></i></button>
                        </form>
                    </div>
                    <div class="sidebar-widget mt-60 mb-55">
                        <h4 class="pro-sidebar-title2">Popular Post </h4>
                        <div class="sidebar-post-wrap mt-30">
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-1.png" alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Fahion Watch</a></h4>
                                    <span>19 Augs, 2019 - by John </span>
                                </div>
                            </div>
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-2.png" alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Old Streets</a></h4>
                                    <span>19 Augs, 2019 - by John </span>
                                </div>
                            </div>
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-3.png" alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">New Suite</a></h4>
                                    <span>19 Augs, 2019 - by John </span>
                                </div>
                            </div>
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-4.png" alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Beautiful Flower</a></h4>
                                    <span>19 Augs, 2019 - by John </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mt-60 mb-55">
                        <h4 class="pro-sidebar-title2">Categories </h4>
                        <div class="sidebar-widget-list-2 mt-25">
                            <ul>
                                <li><a href="#">Life Style</a> <span>(12)</span></li>
                                <li><a href="#">Technology</a> <span>(08)</span></li>
                                <li><a href="#">Photography</a> <span>(06)</span></li>
                                <li><a href="#">Cafe</a> <span>(17)</span></li>
                                <li><a href="#">Travel</a> <span>(9)</span></li>
                                <li><a href="#">Games</a> <span>(14)</span></li>
                                <li><a href="#">Story love</a> <span>(11)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-60">
                        <h4 class="pro-sidebar-title2">Archives </h4>
                        <div class="archives-wrap mt-30">
                            <select>
                                <option> June 2019</option>
                                <option> December 2018</option>
                                <option> November 2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-55">
                        <h4 class="pro-sidebar-title2">Tags </h4>
                        <div class="sidebar-widget-tags-2 mt-25">
                            <ul>
                                <li><a href="#">Beauty,</a></li>
                                <li><a href="#">Life Style,</a></li>
                                <li><a href="#">Technology,</a></li>
                                <li><a href="#">Design,</a></li>
                                <li><a href="#">Fashion,</a></li>
                                <li><a href="#">Furniture,</a></li>
                                <li><a href="#">Travel,</a></li>
                                <li><a href="#">Photography,</a></li>
                                <li><a href="#">Motion Design</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-65">
                        <div class="blog-sidebar-banner">
                            <a href="#"><img alt="" src="assets/images/blog/banner-blog.jpg"></a>
                            <div class="blog-sidebar-content">
                                <h3>Ad Banner </h3>
                                <h5>info@example.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-65">
                        <div class="subscribe-form-5">
                            <form class="validate subscribe-form-style-5" novalidate="" target="_blank"
                                  name="mc-embedded-subscribe-form" method="post"
                                  action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div class="mc-form-5">
                                    <input class="email" type="email" required=""
                                           placeholder="Enter your email address..." name="EMAIL" value="">
                                    <div class="mc-news-5" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1"
                                               name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear-5">
                                        <input class="button" type="submit" name="subscribe" value="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="instagram-feed-thumb-5">
                            <div id="Instafeed-5" class="instagram-wrap-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->
    <div class="subscribe-area bg-black pt-70 pb-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="subscribe-title">
                        <h3>Stay in touch</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div id="mc_embed_signup" class="subscribe-form subscribe-mrg-1">
                        <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate=""
                              target="_blank" name="mc-embedded-subscribe-form" method="post"
                              action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                            <div id="mc_embed_signup_scroll" class="mc-form">
                                <input class="email" type="email" required="" placeholder="Enter your email address..."
                                       name="EMAIL" value="">
                                <div class="mc-news" aria-hidden="true">
                                    <input type="text" value="" tabindex="-1"
                                           name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                </div>
                                <div class="clear">
                                    <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe"
                                           value="Subscribe">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-area section-padding-1">
        <div class="container-fluid">
            <div class="footer-top pt-50 pb-50">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-menu">
                            <nav>
                                <ul>
                                    <li><a class="active" href="index.html">HOME</a></li>
                                    <li><a href="#">PAGES</a></li>
                                    <li><a href="shop-fullwide.html">SHOP</a></li>
                                    <li><a href="shop-collection.html">COLLECTIONS</a></li>
                                    <li><a href="blog.html">BLOG</a></li>
                                    <li><a href="#">ELEMENTS</a></li>
                                    <li><a href="contact.html">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="social-icon-style social-icon-right">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-botoom border-top-1">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center copyright-ptb">
                            <p>© 2020 YOUNG. <a target="_blank" href="https://hasthemes.com/">All rights reserved.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}