{% extends 'base.html' %}

{% block content %}
<div class="main-wrapper">
    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <h2> Blog Details</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area start -->
    <div class="blog-area pt-120 pb-120">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="blog-details-wrap ml-20">
                        <div class="blog-details-content">
                            <div class="blog-details-img">
                                <img src="assets/images/blog/blog-1.png" alt="blog">
                                <span>LIFE STYLE</span>
                            </div>
                            <h3>Always Look On The Bright Side Of Life</h3>
                            <div class="blog-meta-5">
                                <ul>
                                    <li>By <a href="#">by John Snow</a></li>
                                    <li>-</li>
                                    <li><a href="#">April 17,2019</a></li>
                                </ul>
                            </div>
                            <p>Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum libero diam,
                                convallis in arcu ut, semper vulputate dolor. Vestibulum ante ipsum primis in faucibus
                                orci luctus et ultrices posuere cubilia Curae usce luctus fringilla fermentum…</p>
                            <p>Proin elementum neque nec leo finibus laoreet. Proin sit amet nibh sapien. Suspendisse
                                hendrerit at enim eu porta. Duis egestas, est nec facilisis tincidunt, eros metus
                                dignissim ligula, vel maximus nisi lorem in quam. Phasellus congue consequat nulla vel
                                finibus. Morbi vitae condimentum tellus, eu consequat massa. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Fusce eget arcu et dolor venenatis lobortis. Ut tincidunt
                                ex risus, in pretium lectus posuere ut. Donec et metus in nulla suscipit scelerisque.
                                Etiam dictum, massa a feugiat fermentum, felis diam dignissim orci, quis ullamcorper
                                metus mi pharetra est. Donec commodo elementum bibendum.</p>
                            <p>Suspendisse id neque tempor, dapibus ipsum ut, finibus purus. Praesent non consequat
                                ligula, eget dapibus nulla. Nullam a dui purus. Praesent et purus elit. Nam mattis dui
                                nisi, at rhoncus lectus fermentum in. Cras magna sapien, dignissim sit amet bibendum a,
                                aliquet vitae velit. Cras sodales commodo rhoncus. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Donec tincidunt neque a maximus feugiat. In vitae augue
                                erat. Mauris accumsan libero sit amet est varius imperdiet. Suspendisse laoreet diam ac
                                purus commodo ultrices. Vivamus eget nunc ultrices, dignissim dui nec, tempor
                                tortor.</p>
                            <div class="blog-dec-midle-content">
                                <img src="assets/images/blog/blog-8.png" alt="blog">
                                <h3>To Keep Makeup Looking Fresh Take A Powder</h3>
                                <p>Proin elementum neque nec leo finibus laoreet. Proin sit amet nibh sapien.
                                    Suspendisse hendrerit at enim eu porta. Duis egestas, est nec facilisis tincidunt,
                                    eros metus dignissim ligula, vel maximus nisi lorem in quam. Phasellus congue
                                    consequat nulla vel finibus. Morbi vitae condimentum tellus, eu consequat massa.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget arcu et dolor
                                    venenatis lobortis. Ut tincidunt ex risus, in pretium lectus posuere ut. Donec et
                                    metus in nulla suscipit scelerisque. Etiam dictum, massa a feugiat fermentum, felis
                                    diam dignissim orci, quis ullamcorper metus mi pharetra est. Donec commodo elementum
                                    bibendum.</p>
                                <p>Suspendisse id neque tempor, dapibus ipsum ut, finibus purus. Praesent non consequat
                                    ligula, eget dapibus nulla. Nullam a dui purus. Praesent et purus elit. Nam mattis
                                    dui nisi, at rhoncus lectus fermentum in. Cras magna sapien, dignissim sit amet
                                    bibendum a, aliquet vitae velit. Cras sodales commodo rhoncus. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Donec tincidunt neque a maximus feugiat. In vitae
                                    augue erat. Mauris accumsan libero sit amet est varius imperdiet. Suspendisse
                                    laoreet diam ac purus commodo ultrices. Vivamus eget nunc ultrices, dignissim dui
                                    nec, tempor tortor.</p>
                            </div>
                            <div class="quote-content quote-content-mrg text-center">
                                <h5><a href="blog-details.html">“Highly customizable. Excellent design. Customer
                                    services has exceeded my expectation. They are quick to answer and even when they
                                    don’t know the answer right away. They’ll work with you towards a solution”</a></h5>
                                <div class="blog-name">
                                    <span>Michael Franklin</span>
                                </div>
                            </div>
                            <p>Proin elementum neque nec leo finibus laoreet. Proin sit amet nibh sapien. Suspendisse
                                hendrerit at enim eu porta. Duis egestas, est nec facilisis tincidunt, eros metus
                                dignissim ligula, vel maximus nisi lorem in quam. Phasellus congue consequat nulla vel
                                finibus. Morbi vitae condimentum tellus, eu consequat massa. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Fusce eget arcu et dolor venenatis lobortis. Ut tincidunt
                                ex risus, in pretium lectus posuere ut. Donec et metus in nulla suscipit scelerisque.
                                Etiam dictum, massa a feugiat fermentum, felis diam dignissim orci, quis ullamcorper
                                metus mi pharetra est. Donec commodo elementum bibendum.</p>
                            <p>Suspendisse id neque tempor, dapibus ipsum ut, finibus purus. Praesent non consequat
                                ligula, eget dapibus nulla. Nullam a dui purus. Praesent et purus elit. Nam mattis dui
                                nisi, at rhoncus lectus fermentum in. Cras magna sapien, dignissim sit amet bibendum a,
                                aliquet vitae velit. Cras sodales commodo rhoncus. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Donec tincidunt neque a maximus feugiat. In vitae augue
                                erat. Mauris accumsan libero sit amet est varius imperdiet. Suspendisse laoreet diam ac
                                purus commodo ultrices. Vivamus eget nunc ultrices, dignissim dui nec, tempor
                                tortor.</p>
                        </div>
                        <div class="blog-details-tag-social">
                            <div class="blog-details-tag">
                                <ul>
                                    <li>Tags :</li>
                                    <li><a href="#">Computer,</a></li>
                                    <li><a href="#">Design,</a></li>
                                    <li><a href="#">Technology.</a></li>
                                </ul>
                            </div>
                            <div class="blog-details-social">
                                <ul>
                                    <li>Share this post :</li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="next-prev-wrap">
                            <div class="next-wrap next-prev-conent">
                                <h4><a href="#">Brighten Up <br>Dull Tired Skin</a></h4>
                                <a href="#">Prev Post</a>
                            </div>
                            <div class="prev-wrap next-prev-conent">
                                <h4><a href="#">Beauty Pageants Should You <br> Let Your Teen Enter Them</a></h4>
                                <a href="#">Next Post</a>
                            </div>
                        </div>
                        <div class="blog-comments-area">
                            <h4 class="blog-details-title">4 Comment</h4>
                            <div class="blog-comments-wrap">
                                <div class="single-blog-bundel">
                                    <div class="single-blog-comment mb-40">
                                        <div class="blog-comment-img">
                                            <img alt="" src="assets/images/blog/user1.png">
                                        </div>
                                        <div class="blog-comment-content">
                                            <p>“Theme is very flexible and easy to use. Perfect for us. Customer support
                                                has been excellent and answered every question we've thrown at them</p>
                                            <div class="comment-name-reply">
                                                <h5>35 mins ago, 15 November 2019 </h5>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-blog-comment child-blog-comment ml-80">
                                        <div class="blog-comment-img">
                                            <img alt="" src="assets/images/blog/user2.png">
                                        </div>
                                        <div class="blog-comment-content">
                                            <p>“This theme is indeed a great purchase. Support center is also helpful
                                                and quick to answer. No issues so far.”</p>
                                            <div class="comment-name-reply">
                                                <h5>35 mins ago, 15 November 2019</h5>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-blog-bundel">
                                    <div class="single-blog-comment">
                                        <div class="blog-comment-img">
                                            <img alt="" src="assets/images/blog/user3.png">
                                        </div>
                                        <div class="blog-comment-content">
                                            <p>“Exceptional service, beautiful and straightforward theme! Can't
                                                recommend enough.”</p>
                                            <div class="comment-name-reply">
                                                <h5>35 mins ago, 15 November 2019</h5>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-blog-bundel">
                                    <div class="single-blog-comment">
                                        <div class="blog-comment-img">
                                            <img alt="" src="assets/images/blog/user4.png">
                                        </div>
                                        <div class="blog-comment-content">
                                            <p>“Highly customizable. Excellent design. Customer services has exceeded my
                                                expectation. They are quick to answer and even when they don't know the
                                                answer right away. They'll work with you towards a solution.”</p>
                                            <div class="comment-name-reply">
                                                <h5>35 mins ago, 15 November 2019</h5>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h3>Leave a Reply </h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="leave-form">
                                            <input placeholder="Name *" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="leave-form">
                                            <input placeholder="Email *" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="leave-form">
                                            <input placeholder="Website" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="leave-form">
                                            <textarea placeholder="Your Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-submit">
                                    <input type="submit" value="Post Comment">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar-search">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="SEARCH POST...">
                            <button class="button-search"><i class="lnr lnr-magnifier"></i></button>
                        </form>
                    </div>
                    <div class="sidebar-widget mt-60 mb-55">
                        <h4 class="pro-sidebar-title2">Popular Post </h4>
                        <div class="sidebar-post-wrap mt-30">
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-1.png" alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Fahion Watch</a></h4>
                                    <span>19 Augs, 2019 - by John </span>
                                </div>
                            </div>
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-2.png" alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Old Streets</a></h4>
                                    <span>19 Augs, 2019 - by John </span>
                                </div>
                            </div>
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-3.png" alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">New Suite</a></h4>
                                    <span>19 Augs, 2019 - by John </span>
                                </div>
                            </div>
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-4.png" alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Beautiful Flower</a></h4>
                                    <span>19 Augs, 2019 - by John </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mt-60 mb-55">
                        <h4 class="pro-sidebar-title2">Categories </h4>
                        <div class="sidebar-widget-list-2 mt-25">
                            <ul>
                                <li><a href="#">Life Style</a> <span>(12)</span></li>
                                <li><a href="#">Technology</a> <span>(08)</span></li>
                                <li><a href="#">Photography</a> <span>(06)</span></li>
                                <li><a href="#">Cafe</a> <span>(17)</span></li>
                                <li><a href="#">Travel</a> <span>(9)</span></li>
                                <li><a href="#">Games</a> <span>(14)</span></li>
                                <li><a href="#">Story love</a> <span>(11)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-60">
                        <h4 class="pro-sidebar-title2">Archives </h4>
                        <div class="archives-wrap mt-30">
                            <select>
                                <option> June 2019</option>
                                <option> December 2018</option>
                                <option> November 2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-55">
                        <h4 class="pro-sidebar-title2">Tags </h4>
                        <div class="sidebar-widget-tags-2 mt-25">
                            <ul>
                                <li><a href="#">Beauty,</a></li>
                                <li><a href="#">Life Style,</a></li>
                                <li><a href="#">Technology,</a></li>
                                <li><a href="#">Design,</a></li>
                                <li><a href="#">Fashion,</a></li>
                                <li><a href="#">Furniture,</a></li>
                                <li><a href="#">Travel,</a></li>
                                <li><a href="#">Photography,</a></li>
                                <li><a href="#">Motion Design</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-65">
                        <div class="blog-sidebar-banner">
                            <a href="#"><img alt="" src="assets/images/blog/banner-blog.jpg"></a>
                            <div class="blog-sidebar-content">
                                <h3>Ad Banner </h3>
                                <h5>info@example.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-65">
                        <div class="subscribe-form-5">
                            <form class="validate subscribe-form-style-5" novalidate="" target="_blank"
                                  name="mc-embedded-subscribe-form" method="post"
                                  action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div class="mc-form-5">
                                    <input class="email" type="email" required=""
                                           placeholder="Enter your email address..." name="EMAIL" value="">
                                    <div class="mc-news-5" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1"
                                               name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear-5">
                                        <input class="button" type="submit" name="subscribe" value="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="instagram-feed-thumb-5">
                            <div id="Instafeed-5" class="instagram-wrap-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->
    <div class="subscribe-area bg-black pt-70 pb-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="subscribe-title">
                        <h3>Stay in touch</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div id="mc_embed_signup" class="subscribe-form subscribe-mrg-1">
                        <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate=""
                              target="_blank" name="mc-embedded-subscribe-form" method="post"
                              action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                            <div id="mc_embed_signup_scroll" class="mc-form">
                                <input class="email" type="email" required="" placeholder="Enter your email address..."
                                       name="EMAIL" value="">
                                <div class="mc-news" aria-hidden="true">
                                    <input type="text" value="" tabindex="-1"
                                           name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                </div>
                                <div class="clear">
                                    <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe"
                                           value="Subscribe">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-area section-padding-1">
        <div class="container-fluid">
            <div class="footer-top pt-50 pb-50">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-menu">
                            <nav>
                                <ul>
                                    <li><a class="active" href="index.html">HOME</a></li>
                                    <li><a href="#">PAGES</a></li>
                                    <li><a href="shop-fullwide.html">SHOP</a></li>
                                    <li><a href="shop-collection.html">COLLECTIONS</a></li>
                                    <li><a href="blog.html">BLOG</a></li>
                                    <li><a href="#">ELEMENTS</a></li>
                                    <li><a href="contact.html">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="social-icon-style social-icon-right">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-botoom border-top-1">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center copyright-ptb">
                            <p>© 2020 YOUNG. <a target="_blank" href="https://hasthemes.com/">All rights reserved.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}